@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
#wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	color: #CCC;
}
#wrapper #header {
	height: 120px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-image: url(../imgs/newbanner.png);
	background-position: center center;
}
#wrapper #bodyright {
	clear: right;
	float: right;
	width: 160px;
	margin-top: 1px;
}
#wrapper #body_left {
	clear: right;
	width: 160px;
	float: left;
	margin-top: 1px;
}
#wrapper #body {
	width: 630px;
	float: none;
	border: 1px solid #999;
	clear: none;
	margin-top: 50px;
	margin-left: 165px;
	margin-right: 165px;
}


#wrapper #jordanbuttons {
	padding: 5px;
	width: 440px;
	float: left;
}
#wrapper #adambuttons {
	padding: 5px;
	float: right;
	width: 440px;
}





#wrapper #footer {
	clear: both;
}





body {
	background-color: #1E5162;

}
#wrapper #bodyleft p {
	color: #CCC;
}
